<h1>Listing Pins</h1>

	
	<div class="grid" data-masonry= '{"ItemSelector": ".grid-item", "columnWidth": 190}' >
	<% @pins.each do |pin| %>
	
		<div class="grid-item" style="width: 20%">
			<div class="thumbnail">
				<%= pin.name %>
				<%= image_tag(pin.photo, :class => 'img-responsive') %>
				<%= pin.descrption %>
				<div class="buttons" style="margin-top:10px; margin-bottom:10px">
					<%= link_to 'Show', pin, :class=>'btn' %>
					<%= link_to 'Edit', edit_pin_path(pin), :class=>'btn' %>
					<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn' %>
				</div>
			</div>
		</div>
		<% end %>
	
	<br>
</div>
	<%= link_to 'New Pin', new_pin_path %>


<script type="text/javascript">
  $(' .grid').masonry({
    ItemSelector: '.grid-item', 
    columnWidth: 200
  });
  $(window).load(function(){
    $(' .grid').masonry({
      ItemSelector: '.grid-item', 
      columnWidth: 200
    });
  })
</script>>